@charset "utf-8";

// Variables for light and dark mode
// Default
.link {
	--color: #a52a2a;
}
// Override
@media (prefers-color-scheme: dark){
	.link{
		--color: salmon;
	}
}

.link {
  color: var(--color);
}

