@charset "utf-8";

// Values for light and dark mode
// Default
.lyrics-jp{
	--color: #916a08;
}
// Override
@media (prefers-color-scheme: dark){
	.lyrics-jp{
		--color: navajowhite;
	}
}

.lyrics-jp {
  color: var(--color);
}

.lyrics-en {
}
