---
layout: default
---

<article class="container-page">
	<div class="page-title">
		<h1>{{ page.title }}</h1>
	</div>
	<div class="page-content">
		<!-- {{ content }}-->
		<h2>Posts in this category</h2>
		<div class="posts-list-item">
			{% assign filtered_posts = site.posts | where: 'category', page.category %}
			{% for post in filtered_posts %}
			<span class="posts-list-item-name float-left">
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			</span>
			<span class="posts-list-item-date float-right">
				{{ post.date | date: '%Y-%m-%d' }}
			</span>
			{% endfor %}
		</div>
	</div>
</article>
